.card__announce {
    margin: 0 0 22px;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--body-text);
}

.card__announce:last-of-type {
    margin: 0;
}