.news__title {
    margin: 0 0 60px;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 64px;
    line-height: 140%;
    color: var(--body-text);
}

@media screen and (max-width: 600px) {
    .news__title {
        margin: 0px 0px 25px;
        font-size: 34px;
    }
}