.banner__title {
    margin: 0px 0px 30px;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 64px;
    line-height: 140%;
    color: var(--white);
}

@media screen and (max-width: 600px) {
    .banner__title {
        margin: 0px 0px 15px;
        font-size: 34px;
    }
}