.card__title {
    margin: 0;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 32px;
    color: var(--body-text);
    transition: .2s;
}

@media screen and (max-width: 600px) {
    .card__title {
        font-size: 20px;
    }
}